<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sstudio.darkchannel"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="@string/app_name"
		         android:theme="@style/AppTheme"
                 android:debuggable="true">
        <activity android:name=".AuthActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ChatRoomActivity"
			      android:label="@string/app_name">
		</activity>
		<activity android:name=".AppLockActivity"
				android:label="@string/app_name">
		</activity>
		
		<service android:name="com.sstudio.darkchannel.service.IncomingMessageService" />
			
		<receiver
			android:name="com.sstudio.darkchannel.service.AutoStartReceiver"
			android:enabled="true"
			android:exported="false" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
		
    </application>
</manifest> 
